{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Recibo</title>
  <link rel="stylesheet" href="{% static 'css/print.css' %}">
</head>
<body onload="window.print()">

  <button id="btnPrint" onclick="window.print()" class="no-print">
    Imprimir
  </button>

  <div class="print-body">
    {% for copy in "12" %}
      <div class="recibo-container">
        <div class="recibo-header">
          <h2>Centro de Inglés América</h2>
          <p> CLAVE: 07PBT0384B</p>          
          <img class="recibo-logo" src="{% static 'images/logo_cia.png' %}" alt="logo del centro de ingles">
          <p class="recibo-numero">Recibo No. {{ object.pk|stringformat:"04d" }}</p>
        </div>
        <div class="recibo-content">
          <p class="full-width"><strong>Nombre del alumno:</strong> {{ object.alumno.nombre }} {{ object.alumno.apellido }} (Matricula: {{object.alumno.matricula}})</p>
          {% if type == 'inscripcion' %}
            <p class="full-width"><strong>Concepto:</strong> Inscripción ({{ object.nivel }})</p>
            <p><strong>Fecha:</strong> {{ object.fecha_inscripcion|date:"d/m/Y" }}</p>
            <p><strong>Monto:</strong> $ {{ object.monto }}</p>
          {% elif type == 'reinscripcion' %}
            <p class="full-width"><strong>Concepto:</strong> Reinscripción ({{ object.nivel }})</p>
            <p><strong>Fecha:</strong> {{ object.fecha_reinscripcion|date:"d/m/Y" }}</p>
            <p><strong>Monto:</strong> $ {{ object.monto }}</p>
          {% else %}
            <p class="full-width"><strong>Concepto:</strong> {{ periodo_impresion|default:object.generar_periodo_sugerido }}</p>
            <p class="full-width"><strong>Periodo de pago:</strong> {{ rango_impresion|default:object.generar_rango_sugerido }}</p>
            <p><strong>Estado del pago:</strong> {{ object.get_estado_pago_display }}</p>
            <p><strong>Fecha de vencimiento:</strong> {{ object.fecha_vencimiento|date:"d/m/Y" }}</p>
            
            <p><strong>Monto base:</strong> $ {{ object.monto_base }}</p>
            {% if object.fecha_pago %}
              <p><strong>Fecha de pago:</strong> {{ object.fecha_pago|date:"d/m/Y" }}</p>
            {% else %}
              <p></p><!-- Celda vacía -->
            {% endif %}

            {% if object.estado_pago == 'Atrasado' %}
              <p><strong>Recargo (1% diario):</strong> ${{ object.recargo_aplicado|floatformat:2 }}</p>
              <p><strong>Monto total a pagar:</strong> $ {{ object.calcular_monto_final|floatformat:2 }}</p>
            {% endif %}           
            
            {% if object.fecha_pago %}
              <p><strong>Monto total pagado:</strong> $ {{ object.monto_pagado }}</p>
            {% endif %}
          {% endif %}
        </div>
        <div class="recibo-footer">
          <p>4A. Av. Sur Oriente No.57 Barrio Candelaria, Ocosingo, Chiapas C.P. 29950</p>
        </div>
      </div>
    {% endfor %}
  </div>

</body>
</html>
